In [58]:
import pandas as pd
import numpy as np
import pylatex
from sklearn import metrics

In [5]:
labels = pd.read_csv('election_data/final_results_by_state.csv')

In [94]:
def get_results(filename):
    preds = pd.read_csv(filename)
    combined = pd.merge(preds, labels, on=['state_po'], suffixes=['_preds', ''])[['state_po', 'd_prob_preds', 'd_prob']]
    mse = metrics.mean_squared_error(combined['d_prob'].values, combined['d_prob_preds'].values)
    mae = metrics.mean_absolute_error(combined['d_prob'].values, combined['d_prob_preds'].values)
    r2 = metrics.r2_score(combined['d_prob'].values, combined['d_prob_preds'].values)
    print(f'mse: {mse}, mae: {mae}, r2: {r2}')
def get_state_results(filename):
    preds = pd.read_csv(filename)
    combined = pd.merge(preds, labels, on=['state_po'], suffixes=['_preds', ''])[['state_po', 'd_prob_preds', 'd_prob']]
    results = dict()
    for state in set(combined['state_po']):
        row = combined[combined['state_po'] == state]
        pred = row['d_prob_preds'].item()
        label = row['d_prob'].item()
        error = abs(pred - label)
        results[state] = {'abs_error': error, 'squared_error': error**2}
    return pd.DataFrame(results).T.reset_index().rename(columns={'index': 'state_po'})

In [85]:
logistic_04 = 'predictions/presidential_preds_0-4_logistic.csv'
get_results(logistic_04)

mse: 0.001206071836125632, mae: 0.02993070656995647, r2: 0.9178680234749548

In [86]:
lambda_02 = 'predictions/presidential_preds_0-2_lambda.csv'
get_results(lambda_02)

mse: 0.0012098007460241362, mae: 0.029791555033126197, r2: 0.9176140893965073

In [98]:
lambda_1 = 'predictions/presidential_preds_1_lambda.csv'
get_results(lambda_1)

mse: 0.001276723509151282, mae: 0.030391827713548463, r2: 0.9130567333207642

In [99]:
get_state_results(logistic_04)
get_state_results(lambda_02)
get_state_results(lambda_1)

   state_po  abs_error  squared_error
0        OH   0.030365       0.000922
1        WI   0.006394       0.000041
2        MI   0.019198       0.000369
3        LA   0.003294       0.000011
4        ID   0.066934       0.004480
5        GA   0.039533       0.001563
6        OK   0.036747       0.001350
7        NE   0.032103       0.001031
8        CT   0.020868       0.000435
9        HI   0.016340       0.000267
10       NH   0.002130       0.000005
11       SC   0.023184       0.000537
12       OR   0.019983       0.000399
13       MT   0.053360       0.002847
14       UT   0.050235       0.002524
15       MA   0.032424       0.001051
16       SD   0.022103       0.000489
17       CA   0.017370       0.000302
18       KY   0.040164       0.001613
19       PA   0.014025       0.000197
20       NC   0.032094       0.001030
21       KS   0.031094       0.000967
22       ND   0.090541       0.008198
23       MD   0.018073       0.000327
24       MO   0.021633       0.000468
25       NV   0.002027       0.000004
26       AR   0.060443       0.003653
27       IN   0.035674       0.001273
28       IA   0.036784       0.001353
29       NM   0.006068       0.000037
30       NJ   0.037784       0.001428
31       VT   0.028348       0.000804
32       DC   0.004767       0.000023
33       WV   0.021212       0.000450
34       RI   0.027557       0.000759
35       MS   0.038653       0.001494
36       AK   0.006885       0.000047
37       CO   0.012237       0.000150
38       TN   0.057611       0.003319
39       AL   0.052351       0.002741
40       MN   0.020335       0.000414
41       VA   0.036104       0.001303
42       NY   0.067668       0.004579
43       AZ   0.039248       0.001540
44       IL   0.011690       0.000137
45       WY   0.061539       0.003787
46       WA   0.033254       0.001106
47       TX   0.038480       0.001481
48       ME   0.026027       0.000677
49       DE   0.019894       0.000396
50       FL   0.027152       0.000737

In [72]:
# df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
# doc = pylatex.Document()
# doc.packages.append(pylatex.Package('booktabs'))

# # Difference to the other answer:
# with doc.create(pylatex.Section('Table')):
#     with doc.create(pylatex.Table(position='htbp')) as table:
#         table.add_caption('Test')
#         table.append(pylatex.Command('centering'))
#         table.append(pylatex.NoEscape(df.to_latex(escape=False)))

# doc.generate_pdf('results', clean_tex=False)