In [136]:
import json
import pandas as pd
from us import states
import numpy as np
from fredapi import Fred
keys = json.load(open('api_keys.json'))

In [103]:
fred = Fred(api_key=keys['fred'])

In [142]:
def get_state_population(state):
    data_str = f'{state.abbr}POP'
    print(data_str)
    popseries = fred.get_series(data_str)
    years = list(map(lambda x: int(x.year), popseries.to_dict().keys()))
    populations = list(map(lambda x: x * 1000, popseries.to_dict().values()))
    return pd.DataFrame(zip(years, populations), columns=['year', 'population'])

In [143]:
state_pops = dict()
for state in states.STATES:
    state_pops[state.abbr] = get_state_population(state)

ALPOP
AKPOP
AZPOP
ARPOP
CAPOP
COPOP
CTPOP
DEPOP
FLPOP
GAPOP
HIPOP
IDPOP
ILPOP
INPOP
IAPOP
KSPOP
KYPOP
LAPOP
MEPOP
MDPOP
MAPOP
MIPOP
MNPOP
MSPOP
MOPOP
MTPOP
NEPOP
NVPOP
NHPOP
NJPOP
NMPOP
NYPOP
NCPOP
NDPOP
OHPOP
OKPOP
ORPOP
PAPOP
RIPOP
SCPOP
SDPOP
TNPOP
TXPOP
UTPOP
VTPOP
VAPOP
WAPOP
WVPOP
WIPOP
WYPOP

In [160]:
all_states = []
for abbr, state in state_pops.items():
    for row in state.iterrows():
        ix, (year, population) = row
        all_states.append([abbr, int(year), population])

In [164]:
all_states_df = pd.DataFrame(all_states, columns=['state_po', 'year', 'population'])

In [165]:
all_states_df

     state_po  year  population
0          AL  1900   1830000.0
1          AL  1901   1907000.0
2          AL  1902   1935000.0
3          AL  1903   1957000.0
4          AL  1904   1978000.0
...       ...   ...         ...
5895       WY  2015    585613.0
5896       WY  2016    584215.0
5897       WY  2017    578931.0
5898       WY  2018    577601.0
5899       WY  2019    578759.0

[5900 rows x 3 columns]

In [166]:
all_states_df.to_csv(open('./pop_data/1900-2019-all-states-populations.csv', 'w+'), index=False)