In [1]:
import json
import pandas as pd
from us import states
from collections import defaultdict
import numpy as np
from fredapi import Fred
keys = json.load(open('api_keys.json'))

In [2]:
fred = Fred(api_key=keys['fred'])

In [8]:
def get_data(state):
    data_str = f'GCT1502{state.abbr}'
    print(data_str)
    df = pd.DataFrame(fred.get_series(data_str)).resample('Y').mean()
    years = list(map(int, df.index.year))
    rates = list(df[0].values/100)
    return list(zip(years, rates))

In [9]:
all_states = []
for state in states.STATES:
    for (year, rate) in get_data(state):
        all_states.append([state.abbr, year, rate])

GCT1502AL
GCT1502AK
GCT1502AZ
GCT1502AR
GCT1502CA
GCT1502CO
GCT1502CT
GCT1502DE
GCT1502FL
GCT1502GA
GCT1502HI
GCT1502ID
GCT1502IL
GCT1502IN
GCT1502IA
GCT1502KS
GCT1502KY
GCT1502LA
GCT1502ME
GCT1502MD
GCT1502MA
GCT1502MI
GCT1502MN
GCT1502MS
GCT1502MO
GCT1502MT
GCT1502NE
GCT1502NV
GCT1502NH
GCT1502NJ
GCT1502NM
GCT1502NY
GCT1502NC
GCT1502ND
GCT1502OH
GCT1502OK
GCT1502OR
GCT1502PA
GCT1502RI
GCT1502SC
GCT1502SD
GCT1502TN
GCT1502TX
GCT1502UT
GCT1502VT
GCT1502VA
GCT1502WA
GCT1502WV
GCT1502WI
GCT1502WY

In [10]:
var_name = 'bachelors_education_rate'

In [11]:
all_states_df = pd.DataFrame(all_states, columns=['state_po', 'year', var_name])

In [12]:
all_states_df

    state_po  year  bachelors_education_rate
0         AL  2006                     0.211
1         AL  2007                     0.214
2         AL  2008                     0.220
3         AL  2009                     0.220
4         AL  2010                     0.219
..       ...   ...                       ...
695       WY  2015                     0.262
696       WY  2016                     0.271
697       WY  2017                     0.276
698       WY  2018                     0.269
699       WY  2019                     0.291

[700 rows x 3 columns]

In [15]:
min_year, max_year = all_states_df['year'].min(), all_states_df['year'].max()
filename = f'./pop_data/{min_year}-{max_year}-{"-".join(var_name.split("_"))}.csv'
print(filename)

./pop_data/2006-2019-bachelors-education-rate.csv

In [14]:
all_states_df.to_csv(open(filename, 'w+'), index=False)