In [1]:
import json
import pandas as pd
from us import states
from collections import defaultdict
import numpy as np
from fredapi import Fred
keys = json.load(open('api_keys.json'))
from utils import get_state_yearly_aggregate

In [2]:
fred = Fred(api_key=keys['fred'])

In [5]:
all_codes = {
    'house_price_index': 'STHPI',
    'unemployment_rate': 'UR',
    'population': 'POP',
    'leading_index': 'SLIND',
    'rental_vacancy': 'RVAC',
    'home_ownership_rate': 'HOWN',
    
}

In [6]:
all_states = []
var_name = 'leading_index'
for state in states.STATES:
    for (year, rate) in get_state_yearly_aggregate(fred, state, all_codes[var_name]):
        all_states.append([state.abbr, year, rate])
all_states_df = pd.DataFrame(all_states, columns=['state_po', 'year', var_name])

ALSLIND
AKSLIND
AZSLIND
ARSLIND
CASLIND
COSLIND
CTSLIND
DESLIND
FLSLIND
GASLIND
HISLIND
IDSLIND
ILSLIND
INSLIND
IASLIND
KSSLIND
KYSLIND
LASLIND
MESLIND
MDSLIND
MASLIND
MISLIND
MNSLIND
MSSLIND
MOSLIND
MTSLIND
NESLIND
NVSLIND
NHSLIND
NJSLIND
NMSLIND
NYSLIND
NCSLIND
NDSLIND
OHSLIND
OKSLIND
ORSLIND
PASLIND
RISLIND
SCSLIND
SDSLIND
TNSLIND
TXSLIND
UTSLIND
VTSLIND
VASLIND
WASLIND
WVSLIND
WISLIND
WYSLIND

In [7]:
all_states_df

     state_po  year  leading_index
0          AL  1982      -0.945833
1          AL  1983       3.955833
2          AL  1984       2.710833
3          AL  1985       1.696667
4          AL  1986       0.840000
...       ...   ...            ...
1945       WY  2016       0.803333
1946       WY  2017       1.820833
1947       WY  2018       1.819167
1948       WY  2019       0.983333
1949       WY  2020       0.980000

[1950 rows x 3 columns]

In [8]:
min_year = all_states_df['year'].min()
max_year = all_states_df['year'].max()

In [10]:
data_dir = './pop_data'
filename = f'{data_dir}/{min_year}-{max_year}-states-{"-".join(var_name.split("_"))}.csv'
print(filename)

./pop_data/1982-2020-states-leading-index.csv

In [11]:
all_states_df.to_csv(open(filename, 'w+'))