In [1]:
import json
import pandas as pd
from us import states
from collections import defaultdict
import numpy as np
from fredapi import Fred
keys = json.load(open('api_keys.json'))
from utils import get_state_yearly_aggregate_str

In [2]:
fred = Fred(api_key=keys['fred'])

In [3]:
all_codes = {
    'graduate_education_rate': 'GCT1503'
    
}

In [7]:
all_states = []
var_name = 'graduate_education_rate'
for state in states.STATES:
    code = f'{all_codes[var_name]}{state.abbr}'
    for (year, rate) in get_state_yearly_aggregate_str(fred, code):
        all_states.append([state.abbr, year, rate])
all_states_df = pd.DataFrame(all_states, columns=['state_po', 'year', var_name])

GCT1503AL
GCT1503AK
GCT1503AZ
GCT1503AR
GCT1503CA
GCT1503CO
GCT1503CT
GCT1503DE
GCT1503FL
GCT1503GA
GCT1503HI
GCT1503ID
GCT1503IL
GCT1503IN
GCT1503IA
GCT1503KS
GCT1503KY
GCT1503LA
GCT1503ME
GCT1503MD
GCT1503MA
GCT1503MI
GCT1503MN
GCT1503MS
GCT1503MO
GCT1503MT
GCT1503NE
GCT1503NV
GCT1503NH
GCT1503NJ
GCT1503NM
GCT1503NY
GCT1503NC
GCT1503ND
GCT1503OH
GCT1503OK
GCT1503OR
GCT1503PA
GCT1503RI
GCT1503SC
GCT1503SD
GCT1503TN
GCT1503TX
GCT1503UT
GCT1503VT
GCT1503VA
GCT1503WA
GCT1503WV
GCT1503WI
GCT1503WY

In [8]:
all_states_df

    state_po  year  graduate_education_rate
0         AL  2006                    0.077
1         AL  2007                    0.080
2         AL  2008                    0.077
3         AL  2009                    0.077
4         AL  2010                    0.080
..       ...   ...                      ...
695       WY  2015                    0.090
696       WY  2016                    0.097
697       WY  2017                    0.103
698       WY  2018                    0.100
699       WY  2019                    0.104

[700 rows x 3 columns]

In [9]:
min_year = all_states_df['year'].min()
max_year = all_states_df['year'].max()

In [10]:
data_dir = './pop_data'
filename = f'{data_dir}/{min_year}-{max_year}-states-{"-".join(var_name.split("_"))}.csv'
print(filename)

./pop_data/2006-2019-states-graduate-education-rate.csv

In [11]:
all_states_df.to_csv(open(filename, 'w+'), index=False)