In [30]:
import pandas as pd
import os
from functools import reduce

In [31]:
data_list = [
    '1984-2019-median-household-income.csv',
    '2006-2019-bachelors-education-rate.csv',
    '1975-2020-states-house-price-index.csv',
    '1900-2019-all-states-populations.csv',
    '1976-2020-state-unemployment-rates.csv',
    '1982-2020-states-leading-index.csv',
    '2006-2019-states-graduate-education-rate.csv',
]

In [32]:
datas = []
for file in data_list:
    data = pd.read_csv(f'pop_data/{file}')
    datas.append(data)
    print(data.columns)

Index(['state_po', 'year', 'median_household_income'], dtype='object')
Index(['state_po', 'year', 'bachelors_education_rate'], dtype='object')
Index(['state_po', 'year', 'house_price_index'], dtype='object')
Index(['state_po', 'year', 'population'], dtype='object')
Index(['state_po', 'year', 'unemployment_rate'], dtype='object')
Index(['state_po', 'year', 'leading_index'], dtype='object')
Index(['state_po', 'year', 'graduate_education_rate'], dtype='object')

In [35]:
common_cols = list(reduce(lambda x, y: x.intersection(y), map(lambda x: set(x.columns), datas)))
print(common_cols)

['year', 'state_po']

In [50]:
total_data = reduce(lambda x, y: x.merge(y, on=common_cols), datas)

In [52]:
total_data.columns

Index(['state_po', 'year', 'median_household_income',
       'bachelors_education_rate', 'house_price_index', 'population',
       'unemployment_rate', 'leading_index', 'graduate_education_rate'],
      dtype='object')

In [57]:
year_normalized_columns = ['median_household_income', 'bachelors_education_rate', 'house_price_index',
                           'unemployment_rate', 'graduate_education_rate']

In [62]:
year_normalized_data = []

In [63]:
for year in range(total_data['year'].min(), total_data['year'].max() +1):
    rows = total_data[total_data['year'] == year][year_normalized_columns]
    rows_normalized = (rows - rows.min()) / (rows.max() - rows.min())
    year_normalized_data.append(rows_normalized)

In [65]:
pd.concat(year_normalized_data)

,median_household_income,bachelors_education_rate,house_price_index,unemployment_rate,graduate_education_rate
0,0.096598,0.224390,0.181468,0.326336,0.166667
14,0.650693,0.507317,0.163865,0.912214,0.354167
28,0.357806,0.439024,0.435733,0.362595,0.322917
42,0.069734,0.082927,0.110965,0.580153,0.010417
56,0.617714,0.609756,0.859442,0.520992,0.447917
...,...,...,...,...,...
643,0.719228,0.774059,0.417477,0.114790,0.741667
657,0.741695,0.665272,0.717312,0.501104,0.491667
671,0.175623,0.000000,0.000000,0.666667,0.008333
685,0.444383,0.426778,0.226448,0.260486,0.200000
699,0.400650,0.334728,0.156281,0.326711,0.175000